/* FOOTER */

.footer-bg {
  background-color: #001560;
  display: grid;
  place-items: center;
  width: 100%;
  display: none;
  /* ativar o footer pro bug sumir */
}

@media (max-width: 800px) {
  .footer-bg {
    display: grid;
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 32px 0px 40px 0px;
}

.footer .logo {
  grid-column: 1/-1;
  justify-self: center;
}

.footer .idioma {
  display: flex;
  align-items: center;
  align-self: self-start;
  margin-top: 24px;
}

.footer .menu-link {
  margin-left: 0;
}

.menu-link {
  justify-self: center;
  margin-left: -20px;
}

.footer .idioma img {
  max-width: 16px;
}

.footer .idioma span,
.footer .idioma label {
  font-size: 0.6rem;
}

.footer .menu-link ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .menu-link li {
  font-size: 0.6rem;
}
@media (max-width: 600px) {
  .footer .idioma {
    margin-top: 0px;
  }
}
